@mixin input() {

  // default input
  input:not([type="submit"]):not([type="reset"]),
  select,
  textarea,
  [type="checkbox"] + label:before,
  [type="radio"] + label:before {
    background: $input-background;
    background-color: $input-background-color;
    border: $input-border;
    border-color: $input-border-color;
    border-radius: $input-border-radius;
    border-style: $input-border-style;
    border-width: $input-border-width;
    color: $input-color;
    display: block;
    font-weight: $input-font-weight;
    letter-spacing: $input-letter-spacing;
    margin: $input-margin;
    padding: $input-padding;
    text-align: $input-text-align;
    text-transform: $input-text-transform;
    transition: $input-transition;
    width: 100%;

    &:hover {
      background: $input-background-hover;
      background-color: $input-background-color-hover;
      border: $input-border-hover;
      border-color: $input-border-color-hover;
      border-width: $input-border-width-hover;
      box-shadow: $input-box-shadow-hover;
      color: $input-color-hover;
      text-shadow: $input-text-shadow-hover;
    }

  }

  // input focus
  input:not([type="submit"]):not([type="reset"]),
  select,
  textarea {
    appearance: none;

    &:active,
    &:focus {
      outline: 0;
      background: $input-background-focus;
      background-color: $input-background-color-focus;
      border: $input-border-focus;
      border-color: $input-border-color-focus;
      border-width: $input-border-width-focus;
      box-shadow: $input-box-shadow-focus;
      color: $input-color-focus;
      text-shadow: $input-text-shadow-focus;
    }

  }

  // select
  select {
    appearance: none;
    background-image: $input-select-icon;
    background-position: center right $input-select-icon-padding;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  // textarea
  textarea {
    resize: vertical;
  }

  // options
  input[type="checkbox"],
  input[type="radio"] {
    display: none;

    & + label {
      display: inline;

      &:before {
        background-color: $input-option-background-color;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 0;
        content: "";
        cursor: pointer;
        display: inline-block;
        height: $input-option-size;
        margin: $input-option-margin;
        padding: 0;
        transition: background-size .2s ease-in-out;
        vertical-align: middle;
        width: $input-option-size;
      }

      &:after {
        content: '\A';
        white-space: pre;
      }

    }

  }

  // radio
  input[type="radio"] {

    & + label:before {
      border-radius: 50%;
    }

    &:checked + label:before {
      background-image: radial-gradient(ellipse at center, $input-border-color-focus 40%, $input-option-background-color 50%);
    }

  }

  // checkbox
  input[type="checkbox"]:checked + label:before {
    background-image: $input-option-checkbox-icon;
  }

  // number
  [type="number"]::-webkit-inner-spin-input,
  [type="number"]::-webkit-outer-spin-input {
    height: auto,
  }

  // search
  [type="search"] {
    -webkit-appearance: textfield;

    &::-webkit-search-cancel-input,
    &::-webkit-search-decoration {
      -webkit-appearance: none;
    }

  }

  // upload
  ::-webkit-file-upload-input {
    -webkit-appearance: input;
    font: inherit;
  }

}
