@mixin list() {

  // ol & ul
  #{$list-parent-selector} ol,
  #{$list-parent-selector} ul {
    margin: $list-margin;

    & > li {
      position: relative;
      line-height: $li-line-height;
      margin-bottom: $li-margin-bottom;

      &:before {
        display: block;
        position: absolute;
        left: 0;
      }
    }

    ul,
    ol {
      margin: 0;
    }

  }


  // ol
  #{$list-parent-selector} ol {
    counter-reset: list-counter;

    & > li {
      padding-left: $ol-number-spacing + $ol-number-width;

      &:before {
        content: counter(list-counter)".";
      	counter-increment: list-counter;
        top: $ol-number-top;
        width: $ol-number-width;
        font-weight: $ol-number-font-weight;
        font-size: $ol-number-font-size;
      }

    }

  }


  // ul
  #{$list-parent-selector} ul {

    & > li {
      padding-left: $ul-bullet-spacing + $ul-bullet-width;

      &:before {
        content: "";
        top: $ul-bullet-top;
        width: $ul-bullet-width;
        height: $ul-bullet-height;
        background-color: $ul-bullet-color;
        border-radius: $ul-bullet-border-radius;
      }

    }

  }

}
