@mixin table() {

  table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
  }

  tr,
  td,
  th {
    vertical-align: middle;
  }

  td,
  th {
    border-color: $table-border-color;
    border-style: $table-border-style;
    border-width: $table-border-width;
    padding: $table-padding;
    text-align: $table-text-align;
  }

  th {
    font-weight: $font-weight-bold;
  }
  
}
