// button variables
$button-background: null;
$button-background-focus: null;
$button-background-hover: null;
$button-background-color: $color-primary;
$button-background-color-focus: null;
$button-background-color-hover: lighten($color-primary, 5);
$button-border: null;
$button-border-focus: null;
$button-border-hover: null;
$button-border-color: null;
$button-border-color-focus: null;
$button-border-color-hover: null;
$button-border-radius: null;
$button-border-style: null;
$button-border-width: null;
$button-border-width-focus: null;
$button-border-width-hover: null;
$button-box-shadow: null;
$button-box-shadow-focus: null;
$button-box-shadow-hover: null;
$button-color: $color-white;
$button-color-focus: null;
$button-color-hover: $color-white;
$button-font-weight: $font-weight-bold;
$button-letter-spacing: null;
$button-margin: 0 0 $spacing-tiny;
$button-margin-inline: 0 0 $spacing-tiny;
$button-padding: $spacing-small;
$button-selector: 'input[type="submit"], input[type="reset"], button, .button';
$button-text-align: center;
$button-text-shadow: null;
$button-text-shadow-focus: null;
$button-text-shadow-hover: null;
$button-text-transform: null;
$button-transition: background-color 0.2s ease-in-out;
