// form item
$form-item-selector: 'form div';
$form-item-margin: $spacing-tiny 0;

// fieldset
$fieldset-background-color: transparent;
$fieldset-border: 0;
$fieldset-margin: 0;
$fieldset-padding: 0;

// legend
$legend-font-weight: $font-weight-bold;
$legend-margin-bottom: $spacing-tiny;

// label
$label-font-weight: $font-weight-bold;
$label-margin-bottom: $spacing-tiny;
