// ol & ul
$list-margin: $spacing-medium 0;
$list-parent-selector: 'article';

// ol
$ol-number-color: $color-text;
$ol-number-font-size: 80%;
$ol-number-font-weight: 700;
$ol-number-spacing: unit(14);
$ol-number-top: unit(3);
$ol-number-width: unit(8);
$ol-padding: null;

// ul
$ul-bullet-border-radius: null;
$ul-bullet-color: $color-primary;
$ul-bullet-height: unit(8);
$ul-bullet-radius: 0;
$ul-bullet-spacing: unit(14);
$ul-bullet-top: unit(10);
$ul-bullet-width: unit(8);
$ul-padding: null;

// li
$li-line-height: 1.75;
$li-margin-bottom: .25em;

// dl
$dl-gutter: unit(6);
$dt-font-weight: $font-weight-bold;
