// text-link
$text-link-border-bottom: 1px solid lighten($color-link, 20);
$text-link-border-bottom-color-focus: $color-focus;
$text-link-color: null;
$text-link-color-focus: null;
$text-link-line-height: $line-height-small;
$text-link-selector: 'article a';
